In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from ast import literal_eval
from datetime import datetime
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

In [3]:
metadata = pd.read_csv("dataset/movies_metadata.csv",low_memory=False)

Preprocessing

In [4]:
#convert genres to readable format as list of genres
metadata["genres"] = metadata["genres"].apply(literal_eval).apply(lambda x: [i["name"] for i in x] 
                                                                  if isinstance(x,list) else [])

In [16]:
# metadata["release_date"].apply(lambda x: datetime.strptime(x,"%d-%m-%Y") if x!="NaN" else "")

In [5]:
# function to convert string date to datetime.
def time_format_check(x):
    try:
        datetime.strptime(x,"%d-%m-%Y")
        return True
    except:
        try:
            datetime.strptime(x,"%Y-%m-%d")
            return True
        except:
            return False
df=metadata[metadata["release_date"].apply(time_format_check)][["release_date","genres","vote_average"]]\
    .dropna(subset=["vote_average"])[metadata["genres"].str.len()!=0]

C:\Users\tgup1\AppData\Local\Programs\Python\Python36\lib\site-packages\ipykernel_launcher.py:12: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if sys.path[0] == '':

45376

In [ ]:
# no of na is 6 dropping them is not an issue
x=metadata["vote_average"]
x.isna().sum()


TO see whether genres are affecting the rating of the movie, we have mad genres as features for each movie.

In [6]:
#converting genres list to genre string
df["release_date"]=pd.to_datetime(df["release_date"])
df["genres"]=df["genres"].apply(lambda x : ",".join(x) if isinstance(x,list) else x)
df["year"]=df["release_date"].apply(lambda x: x.year)
df["month"]=df["release_date"].apply(lambda x: x.month)

In [21]:


# group by year > month > genres
monthly_release_ratings=df.groupby(["year","month","genres"],axis=0).mean()

In [8]:
monthly_release_ratings

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th></th>
      <th>vote_average</th>
    </tr>
    <tr>
      <th>year</th>
      <th>month</th>
      <th>genres</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1874</th>
      <th>12</th>
      <th>Documentary</th>
      <td>6.000</td>
    </tr>
    <tr>
      <th>1878</th>
      <th>6</th>
      <th>Documentary</th>
      <td>6.200</td>
    </tr>
    <tr>
      <th>1883</th>
      <th>11</th>
      <th>Documentary</th>
      <td>5.400</td>
    </tr>
    <tr>
      <th>1887</th>
      <th>8</th>
      <th>Documentary</th>
      <td>4.100</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">1888</th>
      <th>1</th>
      <th>Documentary</th>
      <td>4.400</td>
    </tr>
    <tr>
      <th>10</th>
      <th>Documentary</th>
      <td>5.900</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">1890</th>
      <th>1</th>
      <th>Documentary</th>
      <td>5.100</td>
    </tr>
    <tr>
      <th>11</th>
      <th>Comedy</th>
      <td>4.300</td>
    </tr>
    <tr>
      <th rowspan="4" valign="top">1891</th>
      <th>1</th>
      <th>Documentary</th>
      <td>4.050</td>
    </tr>
    <tr>
      <th>4</th>
      <th>Action,Documentary</th>
      <td>3.500</td>
    </tr>
    <tr>
      <th>5</th>
      <th>Documentary</th>
      <td>3.800</td>
    </tr>
    <tr>
      <th>11</th>
      <th>Documentary</th>
      <td>4.000</td>
    </tr>
    <tr>
      <th>1892</th>
      <th>10</th>
      <th>Comedy,Animation</th>
      <td>6.100</td>
    </tr>
    <tr>
      <th>1893</th>
      <th>5</th>
      <th>Drama</th>
      <td>5.800</td>
    </tr>
    <tr>
      <th rowspan="6" valign="top">1894</th>
      <th>1</th>
      <th>Documentary</th>
      <td>5.525</td>
    </tr>
    <tr>
      <th>3</th>
      <th>Documentary</th>
      <td>4.900</td>
    </tr>
    <tr>
      <th>5</th>
      <th>Documentary</th>
      <td>5.450</td>
    </tr>
    <tr>
      <th>7</th>
      <th>Comedy</th>
      <td>6.300</td>
    </tr>
    <tr>
      <th>9</th>
      <th>Documentary</th>
      <td>4.050</td>
    </tr>
    <tr>
      <th>11</th>
      <th>Documentary</th>
      <td>6.300</td>
    </tr>
    <tr>
      <th rowspan="5" valign="top">1895</th>
      <th>4</th>
      <th>Documentary</th>
      <td>5.700</td>
    </tr>
    <tr>
      <th>6</th>
      <th>Documentary</th>
      <td>6.200</td>
    </tr>
    <tr>
      <th>8</th>
      <th>History</th>
      <td>6.400</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">12</th>
      <th>Comedy</th>
      <td>7.000</td>
    </tr>
    <tr>
      <th>Documentary</th>
      <td>5.350</td>
    </tr>
    <tr>
      <th rowspan="5" valign="top">1896</th>
      <th rowspan="3" valign="top">1</th>
      <th>Comedy,Horror</th>
      <td>6.200</td>
    </tr>
    <tr>
      <th>Documentary</th>
      <td>5.575</td>
    </tr>
    <tr>
      <th>Horror</th>
      <td>6.800</td>
    </tr>
    <tr>
      <th>3</th>
      <th>Documentary</th>
      <td>5.800</td>
    </tr>
    <tr>
      <th>4</th>
      <th>Drama,Romance</th>
      <td>5.000</td>
    </tr>
    <tr>
      <th>...</th>
      <th>...</th>
      <th>...</th>
      <td>...</td>
    </tr>
    <tr>
      <th rowspan="24" valign="top">2017</th>
      <th rowspan="11" valign="top">8</th>
      <th>Action,Western,Science Fiction,Fantasy,Horror</th>
      <td>5.700</td>
    </tr>
    <tr>
      <th>Animation</th>
      <td>10.000</td>
    </tr>
    <tr>
      <th>Crime,Comedy,Action,Family</th>
      <td>6.000</td>
    </tr>
    <tr>
      <th>Documentary</th>
      <td>0.000</td>
    </tr>
    <tr>
      <th>Drama</th>
      <td>7.100</td>
    </tr>
    <tr>
      <th>Drama,Comedy</th>
      <td>6.800</td>
    </tr>
    <tr>
      <th>Drama,Music</th>
      <td>6.300</td>
    </tr>
    <tr>
      <th>Drama,Thriller</th>
      <td>6.000</td>
    </tr>
    <tr>
      <th>Drama,Thriller,Crime</th>
      <td>7.300</td>
    </tr>
    <tr>
      <th>Science Fiction</th>
      <td>5.400</td>
    </tr>
    <tr>
      <th>Science Fiction,Thriller</th>
      <td>7.300</td>
    </tr>
    <tr>
      <th rowspan="3" valign="top">9</th>
      <th>Documentary</th>
      <td>0.000</td>
    </tr>
    <tr>
      <th>Horror</th>
      <td>5.700</td>
    </tr>
    <tr>
      <th>Romance,Drama</th>
      <td>6.600</td>
    </tr>
    <tr>
      <th rowspan="4" valign="top">10</th>
      <th>Action,Adventure,Fantasy,Science Fiction</th>
      <td>0.000</td>
    </tr>
    <tr>
      <th>Action,Science Fiction</th>
      <td>0.000</td>
    </tr>
    <tr>
      <th>Documentary</th>
      <td>0.000</td>
    </tr>
    <tr>
      <th>Romance,Drama</th>
      <td>0.000</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">11</th>
      <th>Action,Adventure,Fantasy,Science Fiction</th>
      <td>0.000</td>
    </tr>
    <tr>
      <th>Documentary</th>
      <td>0.000</td>
    </tr>
    <tr>
      <th rowspan="4" valign="top">12</th>
      <th>Animation,Adventure,Comedy,Action,Family</th>
      <td>0.000</td>
    </tr>
    <tr>
      <th>Comedy</th>
      <td>0.000</td>
    </tr>
    <tr>
      <th>Comedy,Music,Romance,Science Fiction</th>
      <td>0.000</td>
    </tr>
    <tr>
      <th>Fantasy,Action,Adventure</th>
      <td>0.000</td>
    </tr>
    <tr>
      <th rowspan="5" valign="top">2018</th>
      <th>3</th>
      <th>Action,Comedy,Fantasy,Science Fiction</th>
      <td>0.000</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">4</th>
      <th>Drama</th>
      <td>0.000</td>
    </tr>
    <tr>
      <th>Drama,Romance</th>
      <td>0.000</td>
    </tr>
    <tr>
      <th>11</th>
      <th>Thriller,Action,Crime</th>
      <td>0.000</td>
    </tr>
    <tr>
      <th>12</th>
      <th>Comedy,Drama</th>
      <td>0.000</td>
    </tr>
    <tr>
      <th>2020</th>
      <th>12</th>
      <th>Action,Adventure,Fantasy,Science Fiction</th>
      <td>0.000</td>
    </tr>
  </tbody>
</table>
<p>28977 rows × 1 columns</p>
</div>

In [22]:
# df.sort_values(by="release_date")

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>release_date</th>
      <th>genres</th>
      <th>vote_average</th>
      <th>year</th>
      <th>month</th>
      <th>action</th>
      <th>adventure</th>
      <th>animation</th>
      <th>comedy</th>
      <th>crime</th>
      <th>...</th>
      <th>horror</th>
      <th>movie</th>
      <th>music</th>
      <th>mystery</th>
      <th>romance</th>
      <th>science</th>
      <th>thriller</th>
      <th>tv</th>
      <th>war</th>
      <th>western</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>34940</th>
      <td>1874-12-09</td>
      <td>Documentary</td>
      <td>6.0</td>
      <td>1874</td>
      <td>12</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>34937</th>
      <td>1878-06-14</td>
      <td>Documentary</td>
      <td>6.2</td>
      <td>1878</td>
      <td>6</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>41602</th>
      <td>1883-11-19</td>
      <td>Documentary</td>
      <td>5.4</td>
      <td>1883</td>
      <td>11</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>34933</th>
      <td>1887-08-18</td>
      <td>Documentary</td>
      <td>4.1</td>
      <td>1887</td>
      <td>8</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>34934</th>
      <td>1888-01-01</td>
      <td>Documentary</td>
      <td>4.4</td>
      <td>1888</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>34938</th>
      <td>1888-10-15</td>
      <td>Documentary</td>
      <td>5.9</td>
      <td>1888</td>
      <td>10</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>34939</th>
      <td>1890-01-01</td>
      <td>Documentary</td>
      <td>5.1</td>
      <td>1890</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>34935</th>
      <td>1890-11-21</td>
      <td>Comedy</td>
      <td>4.3</td>
      <td>1890</td>
      <td>11</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>41195</th>
      <td>1891-01-01</td>
      <td>Documentary</td>
      <td>3.3</td>
      <td>1891</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>28592</th>
      <td>1891-01-01</td>
      <td>Documentary</td>
      <td>4.8</td>
      <td>1891</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>35075</th>
      <td>1891-04-30</td>
      <td>Action,Documentary</td>
      <td>3.5</td>
      <td>1891</td>
      <td>4</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>34945</th>
      <td>1891-05-01</td>
      <td>Documentary</td>
      <td>3.8</td>
      <td>1891</td>
      <td>5</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>35146</th>
      <td>1891-11-15</td>
      <td>Documentary</td>
      <td>4.0</td>
      <td>1891</td>
      <td>11</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>32312</th>
      <td>1892-10-28</td>
      <td>Comedy,Animation</td>
      <td>6.1</td>
      <td>1892</td>
      <td>10</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>19138</th>
      <td>1893-05-08</td>
      <td>Drama</td>
      <td>5.8</td>
      <td>1893</td>
      <td>5</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>43511</th>
      <td>1894-01-01</td>
      <td>Documentary</td>
      <td>4.9</td>
      <td>1894</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>44965</th>
      <td>1894-01-01</td>
      <td>Documentary</td>
      <td>6.5</td>
      <td>1894</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>42208</th>
      <td>1894-01-01</td>
      <td>Documentary</td>
      <td>6.0</td>
      <td>1894</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>17569</th>
      <td>1894-01-09</td>
      <td>Documentary</td>
      <td>4.7</td>
      <td>1894</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>43777</th>
      <td>1894-03-14</td>
      <td>Documentary</td>
      <td>4.9</td>
      <td>1894</td>
      <td>3</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>43555</th>
      <td>1894-05-16</td>
      <td>Documentary</td>
      <td>6.0</td>
      <td>1894</td>
      <td>5</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>41799</th>
      <td>1894-05-18</td>
      <td>Documentary</td>
      <td>4.9</td>
      <td>1894</td>
      <td>5</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>41871</th>
      <td>1894-07-16</td>
      <td>Comedy</td>
      <td>6.3</td>
      <td>1894</td>
      <td>7</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>41873</th>
      <td>1894-09-23</td>
      <td>Documentary</td>
      <td>4.3</td>
      <td>1894</td>
      <td>9</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>42697</th>
      <td>1894-09-23</td>
      <td>Documentary</td>
      <td>3.8</td>
      <td>1894</td>
      <td>9</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>41876</th>
      <td>1894-11-01</td>
      <td>Documentary</td>
      <td>6.3</td>
      <td>1894</td>
      <td>11</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>41872</th>
      <td>1895-04-01</td>
      <td>Documentary</td>
      <td>5.7</td>
      <td>1895</td>
      <td>4</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>25900</th>
      <td>1895-06-10</td>
      <td>Documentary</td>
      <td>6.2</td>
      <td>1895</td>
      <td>6</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>43508</th>
      <td>1895-08-28</td>
      <td>History</td>
      <td>6.4</td>
      <td>1895</td>
      <td>8</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>23816</th>
      <td>1895-12-27</td>
      <td>Comedy</td>
      <td>7.0</td>
      <td>1895</td>
      <td>12</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>44780</th>
      <td>2017-08-07</td>
      <td>Documentary</td>
      <td>0.0</td>
      <td>2017</td>
      <td>8</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>42773</th>
      <td>2017-08-10</td>
      <td>Drama</td>
      <td>6.5</td>
      <td>2017</td>
      <td>8</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>42206</th>
      <td>2017-08-11</td>
      <td>Drama,Comedy</td>
      <td>7.6</td>
      <td>2017</td>
      <td>8</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>44904</th>
      <td>2017-08-11</td>
      <td>Drama,Thriller,Crime</td>
      <td>7.3</td>
      <td>2017</td>
      <td>8</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>43745</th>
      <td>2017-08-18</td>
      <td>Drama</td>
      <td>6.9</td>
      <td>2017</td>
      <td>8</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>44624</th>
      <td>2017-08-18</td>
      <td>Science Fiction,Thriller</td>
      <td>7.3</td>
      <td>2017</td>
      <td>8</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>45371</th>
      <td>2017-08-30</td>
      <td>Animation</td>
      <td>10.0</td>
      <td>2017</td>
      <td>8</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>42181</th>
      <td>2017-08-31</td>
      <td>Science Fiction</td>
      <td>5.4</td>
      <td>2017</td>
      <td>8</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>43405</th>
      <td>2017-08-31</td>
      <td>Drama,Comedy</td>
      <td>7.0</td>
      <td>2017</td>
      <td>8</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>42563</th>
      <td>2017-09-01</td>
      <td>Romance,Drama</td>
      <td>5.4</td>
      <td>2017</td>
      <td>9</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>39922</th>
      <td>2017-09-14</td>
      <td>Romance,Drama</td>
      <td>7.8</td>
      <td>2017</td>
      <td>9</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>38608</th>
      <td>2017-09-14</td>
      <td>Horror</td>
      <td>5.7</td>
      <td>2017</td>
      <td>9</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>...</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>44757</th>
      <td>2017-09-22</td>
      <td>Documentary</td>
      <td>0.0</td>
      <td>2017</td>
      <td>9</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>44873</th>
      <td>2017-10-20</td>
      <td>Documentary</td>
      <td>0.0</td>
      <td>2017</td>
      <td>10</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>43393</th>
      <td>2017-10-20</td>
      <td>Action,Science Fiction</td>




Converting Genres to features

In [11]:
vec = CountVectorizer()
data = vec.fit_transform(df["genres"])
# vec.get_feature_names()

['action',
 'adventure',
 'animation',
 'comedy',
 'crime',
 'documentary',
 'drama',
 'family',
 'fantasy',
 'fiction',
 'foreign',
 'history',
 'horror',
 'movie',
 'music',
 'mystery',
 'romance',
 'science',
 'thriller',
 'tv',
 'war',
 'western']

In [124]:
#data is a numpy.ndarray
type(data.toarray())

numpy.ndarray

In [18]:
# dic = {}
# for key,value in zip(vec.get_feature_names(),data.toarray().transpose()):
#     dic[key]=value
# print(dic)

{'action': array([0, 0, 0, ..., 1, 0, 1], dtype=int64), 'adventure': array([0, 1, 0, ..., 0, 0, 0], dtype=int64), 'animation': array([1, 0, 0, ..., 0, 0, 0], dtype=int64), 'comedy': array([1, 0, 1, ..., 0, 0, 0], dtype=int64), 'crime': array([0, 0, 0, ..., 0, 0, 0], dtype=int64), 'documentary': array([0, 0, 0, ..., 0, 0, 0], dtype=int64), 'drama': array([0, 0, 0, ..., 1, 1, 1], dtype=int64), 'family': array([1, 1, 0, ..., 0, 0, 0], dtype=int64), 'fantasy': array([0, 1, 0, ..., 0, 0, 0], dtype=int64), 'fiction': array([0, 0, 0, ..., 0, 0, 0], dtype=int64), 'foreign': array([0, 0, 0, ..., 0, 0, 0], dtype=int64), 'history': array([0, 0, 0, ..., 0, 0, 0], dtype=int64), 'horror': array([0, 0, 0, ..., 0, 0, 0], dtype=int64), 'movie': array([0, 0, 0, ..., 0, 0, 0], dtype=int64), 'music': array([0, 0, 0, ..., 0, 0, 0], dtype=int64), 'mystery': array([0, 0, 0, ..., 0, 0, 0], dtype=int64), 'romance': array([0, 0, 1, ..., 1, 0, 0], dtype=int64), 'science': array([0, 0, 0, ..., 0, 0, 0], dtype=int64), 'thriller': array([0, 0, 0, ..., 0, 0, 1], dtype=int64), 'tv': array([0, 0, 0, ..., 0, 0, 0], dtype=int64), 'war': array([0, 0, 0, ..., 0, 0, 0], dtype=int64), 'western': array([0, 0, 0, ..., 0, 0, 0], dtype=int64)}

Adding genre matrix to our orignal data

In [12]:
# adding genres as feature columns
for key,value in zip(vec.get_feature_names(),data.toarray().transpose()):
    df[key]=value
print(df)

      release_date                                  genres  vote_average  \
0       1995-10-30                 Animation,Comedy,Family           7.7
1       1995-12-15                Adventure,Fantasy,Family           6.9
2       1995-12-22                          Romance,Comedy           6.5
3       1995-12-22                    Comedy,Drama,Romance           6.1
4       1995-02-10                                  Comedy           5.7
5       1995-12-15             Action,Crime,Drama,Thriller           7.7
6       1995-12-15                          Comedy,Romance           6.2
7       1995-12-22           Action,Adventure,Drama,Family           5.4
8       1995-12-22               Action,Adventure,Thriller           5.5
9       1995-11-16               Adventure,Action,Thriller           6.6
10      1995-11-17                    Comedy,Drama,Romance           6.5
11      1995-12-22                           Comedy,Horror           5.7
12      1995-12-22              Family,Animation,Adventure           7.1
13      1995-12-22                           History,Drama           7.1
14      1995-12-22                        Action,Adventure           5.7
15      1995-11-22                             Drama,Crime           7.8
16      1995-12-13                           Drama,Romance           7.2
17      1995-12-09                            Crime,Comedy           6.5
18      1995-11-10                  Crime,Comedy,Adventure           6.1
19      1995-11-21                     Action,Comedy,Crime           5.4
20      1995-10-20                   Comedy,Thriller,Crime           6.4
21      1995-10-27                          Drama,Thriller           6.5
22      1995-10-06         Action,Adventure,Crime,Thriller           6.0
23      1995-10-27  Drama,Fantasy,Science Fiction,Thriller           6.3
24      1995-10-27                           Drama,Romance           7.1
25      1995-12-15                                   Drama           7.0
26      1995-10-20                     Comedy,Drama,Family           6.6
27      1995-09-27                           Drama,Romance           7.4
28      1995-05-16       Fantasy,Science Fiction,Adventure           7.6
29      1995-04-30                             Drama,Crime           6.5
...            ...                                     ...           ...
45428   1993-10-27                 Action,Romance,Thriller           5.0
45429   2006-05-01             Documentary,Science Fiction           5.0
45430   1996-01-01                Thriller,Science Fiction           2.0
45431   1974-10-30                             Documentary           0.0
45432   1976-01-01                             Documentary           0.0
45433   1968-06-07                     Music,Comedy,Family           6.1
45435   2010-03-25                         Thriller,Horror           3.0
45436   2010-01-01          Action,Mystery,Thriller,Horror           3.7
45437   2017-06-01         Family,Animation,Romance,Comedy           8.3
45438   2015-04-02                                   Drama           6.8
45439   1944-06-01                    Drama,Fantasy,Horror           5.8
45440   2007-01-08                   Drama,Family,TV Movie           5.0
45441   2002-03-07                                  Comedy           5.2
45443   1901-01-01          Comedy,Fantasy,Science Fiction           7.6
45444   1905-01-01                                 Fantasy           6.1
45445   1906-01-01                          Fantasy,Comedy           4.5
45446   1909-01-01                          Fantasy,Comedy           6.7
45449   2005-09-13                        Animation,Family           5.4
45450   1900-01-01                 Fantasy,Action,Thriller           6.5
45451   1900-01-01                          Comedy,Fantasy           6.5
45452   1981-01-01                             Documentary           0.0
45453   2017-07-07                    Crime,Drama,Thriller           6.6
45454   2015-01-11                            Comedy,Drama           4.0
45456   1946-03-29                 Horror,Mystery,Thriller           6.3
45457   2000-10-22                          Mystery,Horror           7.0
45458   2000-10-03                                  Horror           7.0
45459   1995-01-01                         Science Fiction           3.5
45460   1991-05-13                    Drama,Action,Romance           5.7
45462   2011-11-17                                   Drama           9.0
45463   2003-08-01                   Action,Drama,Thriller           3.8

       year  month  action  adventure  animation  comedy  crime   ...     \
0      1995     10       0          0          1       1      0   ...
1      1995     12       0          1          0       0      0   ...
2      1995     12       0          0          0       1      0   ...
3      1995     12       0          0          0       1      0   ...
4      1995      2       0          0          0       1      0   ...
5      1995     12       1          0          0       0      1   ...
6      1995     12       0          0          0       1      0   ...
7      1995     12       1          1          0       0      0   ...
8      1995     12       1          1          0       0      0   ...
9      1995     11       1          1          0       0      0   ...
10     1995     11       0          0          0       1      0   ...
11     1995     12       0          0          0       1      0   ...
12     1995     12       0          1          1       0      0   ...
13     1995     12       0          0          0       0      0   ...
14     1995     12       1          1          0       0      0   ...
15     1995     11       0          0          0       0      1   ...
16     1995     12       0          0          0       0      0   ...
17     1995     12       0          0          0       1      1   ...
18     1995     11       0          1          0       1      1   ...
19     1995     11       1          0          0       1      1   ...
20     1995     10       0          0          0       1      1   ...
21     1995     10       0          0          0       0      0   ...
22     1995     10       1          1          0       0      1   ...
23     1995     10       0          0          0       0      0   ...
24     1995     10       0          0          0       0      0   ...
25     1995     12       0          0          0       0      0   ...
26     1995     10       0          0          0       1      0   ...
27     1995      9       0          0          0       0      0   ...
28     1995      5       0          1          0       0      0   ...
29     1995      4       0          0          0       0      1   ...
...     ...    ...     ...        ...        ...     ...    ...   ...
45428  1993     10       1          0          0       0      0   ...
45429  2006      5       0          0          0       0      0   ...
45430  1996      1       0          0          0       0      0   ...
45431  1974     10       0          0          0       0      0   ...
45432  1976      1       0          0          0       0      0   ...
45433  1968      6       0          0          0       1      0   ...
45435  2010      3       0          0          0       0      0   ...
45436  2010      1       1          0          0       0      0   ...
45437  2017      6       0          0          1       1      0   ...
45438  2015      4       0          0          0       0      0   ...
45439  1944      6       0          0          0       0      0   ...
45440  2007      1       0          0          0       0      0   ...
45441  2002      3       0          0          0       1      0   ...
45443  1901      1       0          0          0       1      0   ...
45444  1905      1       0          0          0       0      0   ...
45445  1906      1       0          0          0       1      0   ...
45446  1909      1       0          0          0       1      0   ...
45449  2005      9       0          0          1       0      0   ...
45450  1900      1       1          0          0       0      0   ...
45451  1900      1       0          0          0       1      0   ...
45452  1981      1       0          0          0       0      0   ...
45453  2017      7       0          0          0       0      1   ...
45454  2015      1       0          0          0       1      0   ...
45456  1946      3       0          0          0       0      0   ...
45457  2000     10       0          0          0       0      0   ...
45458  2000     10       0          0          0       0      0   ...
45459  1995      1       0          0          0       0      0   ...
45460  1991      5       1          0          0       0      0   ...
45462  2011     11       0          0          0       0      0   ...
45463  2003      8       1          0          0       0      0   ...

       horror  movie  music  mystery  romance  science  thriller  tv  war  \
0           0      0      0        0        0        0         0   0    0
1           0      0      0        0        0        0         0   0    0
2           0      0      0        0        1        0         0   0    0
3           0      0      0        0        1        0         0   0    0
4           0      0      0        0        0        0         0   0    0
5           0      0      0        0        0        0         1   0    0
6           0      0      0        0        1        0         0   0    0
7           0      0      0        0        0        0         0   0    0
8           0      0      0        0        0        0         1   0    0
9           0      0      0        0        0        0         1   0    0
10          0      0      0        0        1        0         0   0    0
11          1      0      0        0        0        0         0   0    0
12          0      0      0        0        0        0         0   0    0
13          0      0      0        0        0        0         0   0    0
14          0      0      0        0        0        0         0   0    0
15          0      0      0        0        0        0         0   0    0
16          0      0      0        0        1        0         0   0    0
17          0      0      0        0        0        0         0   0    0
18          0      0      0        0        0        0         0   0    0
19          0      0      0        0        0        0         0   0    0
20          0      0      0        0        0        0         1   0    0
21          0      0      0        0        0        0         1   0    0
22          0      0      0        0        0        0         1   0    0
23          0      0      0        0        0        1         1   0    0
24          0      0      0        0        1        0         0   0    0
25          0      0      0        0        0        0         0   0    0
26          0      0      0        0        0        0         0   0    0
27          0      0      0        0        1        0         0   0    0
28          0      0      0        0        0        1         0   0    0
29          0      0      0        0        0        0         0   0    0
...       ...    ...    ...      ...      ...      ...       ...  ..  ...
45428       0      0      0        0        1        0         1   0    0
45429       0      0      0        0        0        1         0   0    0
45430       0      0      0        0        0        1         1   0    0
45431       0      0      0        0        0        0         0   0    0
45432       0      0      0        0        0        0         0   0    0
45433       0      0      1        0        0        0         0   0    0
45435       1      0      0        0        0        0         1   0    0
45436       1      0      0        1        0        0         1   0    0
45437       0      0      0        0        1        0         0   0    0
45438       0      0      0        0        0        0         0   0    0
45439       1      0      0        0        0        0         0   0    0
45440       0      1      0        0        0        0         0   1    0
45441       0      0      0        0        0        0         0   0    0
45443       0      0      0        0        0        1         0   0    0
45444       0      0      0        0        0        0         0   0    0
45445       0      0      0        0        0        0         0   0    0
45446       0      0      0        0        0        0         0   0    0
45449       0      0      0        0        0        0         0   0    0
45450       0      0      0        0        0        0         1   0    0
45451       0      0      0        0        0        0         0   0    0
45452       0      0      0        0        0        0         0   0    0
45453       0      0      0        0        0        0         1   0    0
45454       0      0      0        0        0        0         0   0    0
45456       1      0      0        1        0        0         1   0    0
45457       1      0      0        1        0        0         0   0    0
45458       1      0      0        0        0        0         0   0    0
45459       0      0      0        0        0        1         0   0    0
45460       0      0      0        0        1        0         0   0    0
45462       0      0      0        0        0        0         0   0    0
45463       0      0      0        0        0        0         1   0    0

       western
0            0
1            0
2            0
3            0
4            0
5            0
6            0
7            0
8            0
9            0
10           0
11           0
12           0
13           0
14           0
15           0
16           0
17           0
18           0
19           0
20           0
21           0
22           0
23           0
24           0
25           0
26           0
27           0
28           0
29           0
...        ...
45428        0
45429        0
45430        0
45431        0
45432        0
45433        0
45435        0
45436        0
45437        0
45438        0
45439        0
45440        0
45441        0
45443        0
45444        0
45445        0
45446        0
45449        0
45450        0
45451        0
45452        0
45453        0
45454        0
45456        0
45457        0
45458        0
45459        0
45460        0
45462        0
45463        0

[42992 rows x 27 columns]

In [49]:

# genres=vec.get_feature_names()

In [9]:
df.columns

Index(['release_date', 'genres', 'vote_average', 'year', 'month', 'action',
       'adventure', 'animation', 'comedy', 'crime', 'documentary', 'drama',
       'family', 'fantasy', 'fiction', 'foreign', 'history', 'horror', 'movie',
       'music', 'mystery', 'romance', 'science', 'thriller', 'tv', 'war',
       'western'],
      dtype='object')

In [13]:
X=df.iloc[:,5:]
y=df["vote_average"].apply(int)

In [34]:
type(y[0])

numpy.int64

In [28]:
X.columns

numpy.int64

In [14]:
kbest = SelectKBest(chi2,k=3)
X_transform = kbest.fit_transform(X,y)
#get_support gets the index of columns selected.
idxs_selected = kbest.get_support(indices=True)
features_dataframe_new = X[[X.columns[x] for x in idxs_selected]]
features_dataframe_new.columns

Index(['documentary', 'horror', 'science'], dtype='object')

In [15]:
def convert_cat(x):
    if 0<= x and x < 4 :
        return 3
    if 4<= x and x < 6 :
        return 5
    if 6<= x and x<8 :
        return 7
    if 8<= x and x <= 10:
        return 10
df["vote_average_cat"]=df["vote_average"].apply(convert_cat)

Linear Regression Regressor with genres and date as features

In [16]:
# X=df.iloc[:,5:]
X=features_dataframe_new
y=df["vote_average_cat"]
model = LinearRegression()
model.fit(X,y)
# predict = model.predict(df.iloc[:10,5:])
model.score(X,y)

0.029007204994608737

0         7
1         7
2         7
3         7
4         5
5         7
6         7
7         5
8         5
9         7
10        7
11        5
12        7
13        7
14        5
15        7
16        7
17        7
18        7
19        5
20        7
21        7
22        7
23        7
24        7
25        7
26        7
27        7
28        7
29        7
         ..
45428     5
45429     5
45430     3
45431     3
45432     3
45433     7
45435     3
45436     3
45437    10
45438     7
45439     5
45440     5
45441     5
45443     7
45444     7
45445     5
45446     7
45449     5
45450     7
45451     7
45452     3
45453     7
45454     5
45456     7
45457     7
45458     7
45459     3
45460     5
45462    10
45463     3
Name: vote_average_cat, Length: 42992, dtype: int64

In [17]:
from sklearn.tree import DecisionTreeRegressor,DecisionTreeClassifier
from sklearn.metrics import confusion_matrix

In [76]:
# model = DecisionTreeRegressor
mode = DecisionTreeClassifier()
model.fit(X,y)
accuracy_score(y,model.predict(X).astype(int))
confusion_matrix(y,model.predict(X).astype(int),labels=[3,5,7,10])
# model.score(X,y)

array([[   0,  971,    0,    0],
       [   0, 3453,    0,    0],
       [   0, 2322,    1,    0],
       [   0,   78,    0,    0]], dtype=int64)

In [69]:
model.predict(X).astype(int)

array([6, 6, 6, ..., 6, 6, 6])

array([5.90291053, 5.1511532 , 5.2559251 , 5.71042909, 5.06041062,
       5.66867621, 5.2559251 , 5.37662641, 5.06851611, 5.0510714 ])

array([5.90291053, 5.1511532 , 5.2559251 , 5.71042909, 5.06041062,
       5.66867621, 5.2559251 , 5.37662641, 5.06851611, 5.0510714 ])

Year vs Month releases

In [20]:
def month_quater(x):
    if 0<= x and x < 4 :
        return 'q1'
    if 4<= x and x < 6 :
        return 'q2'
    if 6<= x and x < 10 :
        return 'q3'
    if 10<= x and x <= 12:
        return 'q4'
df["quater"]=df["month"].apply(month_quater)
# df[["year","quater","month"]].sort_values(by=["year","quater"])
# df.groupby(["year","quater"])["month"].count().to_csv("year_quater.csv")
# df.groupby(["year","quater"])["vote_average"].mean().to_csv("year_quater_avg.csv")

In [56]:
# df.groupby(["year"])["month"].count().to_csv("year_movie_count.csv")
for genre in genres:
    x=df.groupby(["year","month"])["vote_average",genre].mean()
    x=x[x[genre]!=0]
    x.to_csv("genre2/"+genre+".csv")
# df.groupby(["year","month"]).mean().to_csv("genre/all.csv")

In [18]:
year_range = [x for x in range(1874,2025,10)]
df["year_range"]=pd.cut(df.year,bins=year_range,right=False)
month_range = [x for x in range(1,14,3)]
df["month_range"]=pd.cut(df.month,bins=month_range,right=False)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>release_date</th>
      <th>genres</th>
    </tr>
    <tr>
      <th>year_range</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>[1874, 1884)</th>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>[1884, 1894)</th>
      <td>12</td>
      <td>12</td>
    </tr>
    <tr>
      <th>[1894, 1904)</th>
      <td>78</td>
      <td>78</td>
    </tr>
    <tr>
      <th>[1904, 1914)</th>
      <td>64</td>
      <td>64</td>
    </tr>
    <tr>
      <th>[1914, 1924)</th>
      <td>233</td>
      <td>233</td>
    </tr>
    <tr>
      <th>[1924, 1934)</th>
      <td>744</td>
      <td>744</td>
    </tr>
    <tr>
      <th>[1934, 1944)</th>
      <td>1386</td>
      <td>1386</td>
    </tr>
    <tr>
      <th>[1944, 1954)</th>
      <td>1616</td>
      <td>1616</td>
    </tr>
    <tr>
      <th>[1954, 1964)</th>
      <td>2083</td>
      <td>2083</td>
    </tr>
    <tr>
      <th>[1964, 1974)</th>
      <td>3034</td>
      <td>3034</td>
    </tr>
    <tr>
      <th>[1974, 1984)</th>
      <td>3235</td>
      <td>3235</td>
    </tr>
    <tr>
      <th>[1984, 1994)</th>
      <td>4030</td>
      <td>4030</td>
    </tr>
    <tr>
      <th>[1994, 2004)</th>
      <td>6797</td>
      <td>6797</td>
    </tr>
    <tr>
      <th>[2004, 2014)</th>
      <td>13843</td>
      <td>13843</td>
    </tr>
    <tr>
      <th>[2014, 2024)</th>
      <td>5834</td>
      <td>5834</td>
    </tr>
  </tbody>
</table>
</div>

In [45]:
X=df.iloc[:,5:]
y=df["vote_average"].astype("int")
rf = RandomForestRegressor()
rf.fit(X,y)
# predict = rf.predict(df.iloc[:1000,5:])
# print(predict)
rf.score(X,y)

0.07186606600267942

In [40]:



temp=df[["year","genres","month_range","year_range","vote_average"]]
# temp=df[["year","genres","month","year_range","vote_average"]]
temp

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>year</th>
      <th>genres</th>
      <th>month_range</th>
      <th>year_range</th>
      <th>vote_average</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1995</td>
      <td>Animation,Comedy,Family</td>
      <td>[10, 13)</td>
      <td>[1994, 2004)</td>
      <td>7.7</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1995</td>
      <td>Adventure,Fantasy,Family</td>
      <td>[10, 13)</td>
      <td>[1994, 2004)</td>
      <td>6.9</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1995</td>
      <td>Romance,Comedy</td>
      <td>[10, 13)</td>
      <td>[1994, 2004)</td>
      <td>6.5</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1995</td>
      <td>Comedy,Drama,Romance</td>
      <td>[10, 13)</td>
      <td>[1994, 2004)</td>
      <td>6.1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1995</td>
      <td>Comedy</td>
      <td>[1, 4)</td>
      <td>[1994, 2004)</td>
      <td>5.7</td>
    </tr>
    <tr>
      <th>5</th>
      <td>1995</td>
      <td>Action,Crime,Drama,Thriller</td>
      <td>[10, 13)</td>
      <td>[1994, 2004)</td>
      <td>7.7</td>
    </tr>
    <tr>
      <th>6</th>
      <td>1995</td>
      <td>Comedy,Romance</td>
      <td>[10, 13)</td>
      <td>[1994, 2004)</td>
      <td>6.2</td>
    </tr>
    <tr>
      <th>7</th>
      <td>1995</td>
      <td>Action,Adventure,Drama,Family</td>
      <td>[10, 13)</td>
      <td>[1994, 2004)</td>
      <td>5.4</td>
    </tr>
    <tr>
      <th>8</th>
      <td>1995</td>
      <td>Action,Adventure,Thriller</td>
      <td>[10, 13)</td>
      <td>[1994, 2004)</td>
      <td>5.5</td>
    </tr>
    <tr>
      <th>9</th>
      <td>1995</td>
      <td>Adventure,Action,Thriller</td>
      <td>[10, 13)</td>
      <td>[1994, 2004)</td>
      <td>6.6</td>
    </tr>
    <tr>
      <th>10</th>
      <td>1995</td>
      <td>Comedy,Drama,Romance</td>
      <td>[10, 13)</td>
      <td>[1994, 2004)</td>
      <td>6.5</td>
    </tr>
    <tr>
      <th>11</th>
      <td>1995</td>
      <td>Comedy,Horror</td>
      <td>[10, 13)</td>
      <td>[1994, 2004)</td>
      <td>5.7</td>
    </tr>
    <tr>
      <th>12</th>
      <td>1995</td>
      <td>Family,Animation,Adventure</td>
      <td>[10, 13)</td>
      <td>[1994, 2004)</td>
      <td>7.1</td>
    </tr>
    <tr>
      <th>13</th>
      <td>1995</td>
      <td>History,Drama</td>
      <td>[10, 13)</td>
      <td>[1994, 2004)</td>
      <td>7.1</td>
    </tr>
    <tr>
      <th>14</th>
      <td>1995</td>
      <td>Action,Adventure</td>
      <td>[10, 13)</td>
      <td>[1994, 2004)</td>
      <td>5.7</td>
    </tr>
    <tr>
      <th>15</th>
      <td>1995</td>
      <td>Drama,Crime</td>
      <td>[10, 13)</td>
      <td>[1994, 2004)</td>
      <td>7.8</td>
    </tr>
    <tr>
      <th>16</th>
      <td>1995</td>
      <td>Drama,Romance</td>
      <td>[10, 13)</td>
      <td>[1994, 2004)</td>
      <td>7.2</td>
    </tr>
    <tr>
      <th>17</th>
      <td>1995</td>
      <td>Crime,Comedy</td>
      <td>[10, 13)</td>
      <td>[1994, 2004)</td>
      <td>6.5</td>
    </tr>
    <tr>
      <th>18</th>
      <td>1995</td>
      <td>Crime,Comedy,Adventure</td>
      <td>[10, 13)</td>
      <td>[1994, 2004)</td>
      <td>6.1</td>
    </tr>
    <tr>
      <th>19</th>
      <td>1995</td>
      <td>Action,Comedy,Crime</td>
      <td>[10, 13)</td>
      <td>[1994, 2004)</td>
      <td>5.4</td>
    </tr>
    <tr>
      <th>20</th>
      <td>1995</td>
      <td>Comedy,Thriller,Crime</td>
      <td>[10, 13)</td>
      <td>[1994, 2004)</td>
      <td>6.4</td>
    </tr>
    <tr>
      <th>21</th>
      <td>1995</td>
      <td>Drama,Thriller</td>
      <td>[10, 13)</td>
      <td>[1994, 2004)</td>
      <td>6.5</td>
    </tr>
    <tr>
      <th>22</th>
      <td>1995</td>
      <td>Action,Adventure,Crime,Thriller</td>
      <td>[10, 13)</td>
      <td>[1994, 2004)</td>
      <td>6.0</td>
    </tr>
    <tr>
      <th>23</th>
      <td>1995</td>
      <td>Drama,Fantasy,Science Fiction,Thriller</td>
      <td>[10, 13)</td>
      <td>[1994, 2004)</td>
      <td>6.3</td>
    </tr>
    <tr>
      <th>24</th>
      <td>1995</td>
      <td>Drama,Romance</td>
      <td>[10, 13)</td>
      <td>[1994, 2004)</td>
      <td>7.1</td>
    </tr>
    <tr>
      <th>25</th>
      <td>1995</td>
      <td>Drama</td>
      <td>[10, 13)</td>
      <td>[1994, 2004)</td>
      <td>7.0</td>
    </tr>
    <tr>
      <th>26</th>
      <td>1995</td>
      <td>Comedy,Drama,Family</td>
      <td>[10, 13)</td>
      <td>[1994, 2004)</td>
      <td>6.6</td>
    </tr>
    <tr>
      <th>27</th>
      <td>1995</td>
      <td>Drama,Romance</td>
      <td>[7, 10)</td>
      <td>[1994, 2004)</td>
      <td>7.4</td>
    </tr>
    <tr>
      <th>28</th>
      <td>1995</td>
      <td>Fantasy,Science Fiction,Adventure</td>
      <td>[4, 7)</td>
      <td>[1994, 2004)</td>
      <td>7.6</td>
    </tr>
    <tr>
      <th>29</th>
      <td>1995</td>
      <td>Drama,Crime</td>
      <td>[4, 7)</td>
      <td>[1994, 2004)</td>
      <td>6.5</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>45428</th>
      <td>1993</td>
      <td>Action,Romance,Thriller</td>
      <td>[10, 13)</td>
      <td>[1984, 1994)</td>
      <td>5.0</td>
    </tr>
    <tr>
      <th>45429</th>
      <td>2006</td>
      <td>Documentary,Science Fiction</td>
      <td>[4, 7)</td>
      <td>[2004, 2014)</td>
      <td>5.0</td>
    </tr>
    <tr>
      <th>45430</th>
      <td>1996</td>
      <td>Thriller,Science Fiction</td>
      <td>[1, 4)</td>
      <td>[1994, 2004)</td>
      <td>2.0</td>
    </tr>
    <tr>
      <th>45431</th>
      <td>1974</td>
      <td>Documentary</td>
      <td>[10, 13)</td>
      <td>[1974, 1984)</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>45432</th>
      <td>1976</td>
      <td>Documentary</td>
      <td>[1, 4)</td>
      <td>[1974, 1984)</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>45433</th>
      <td>1968</td>
      <td>Music,Comedy,Family</td>
      <td>[4, 7)</td>
      <td>[1964, 1974)</td>
      <td>6.1</td>
    </tr>
    <tr>
      <th>45435</th>
      <td>2010</td>
      <td>Thriller,Horror</td>
      <td>[1, 4)</td>
      <td>[2004, 2014)</td>
      <td>3.0</td>
    </tr>
    <tr>
      <th>45436</th>
      <td>2010</td>
      <td>Action,Mystery,Thriller,Horror</td>
      <td>[1, 4)</td>
      <td>[2004, 2014)</td>
      <td>3.7</td>
    </tr>
    <tr>
      <th>45437</th>
      <td>2017</td>
      <td>Family,Animation,Romance,Comedy</td>
      <td>[4, 7)</td>
      <td>[2014, 2024)</td>
      <td>8.3</td>
    </tr>
    <tr>
      <th>45438</th>
      <td>2015</td>
      <td>Drama</td>
      <td>[4, 7)</td>
      <td>[2014, 2024)</td>
      <td>6.8</td>
    </tr>
    <tr>
      <th>45439</th>
      <td>1944</td>
      <td>Drama,Fantasy,Horror</td>
      <td>[4, 7)</td>
      <td>[1944, 1954)</td>
      <td>5.8</td>
    </tr>
    <tr>
      <th>45440</th>
      <td>2007</td>
      <td>Drama,Family,TV Movie</td>
      <td>[1, 4)</td>
      <td>[2004, 2014)</td>
      <td>5.0</td>
    </tr>
    <tr>
      <th>45441</th>
      <td>2002</td>
      <td>Comedy</td>
      <td>[1, 4)</td>
      <td>[1994, 2004)</td>
      <td>5.2</td>
    </tr>
    <tr>
      <th>45443</th>
      <td>1901</td>
      <td>Comedy,Fantasy,Science Fiction</td>
      <td>[1, 4)</td>
      <td>[1894, 1904)</td>
      <td>7.6</td>
    </tr>
    <tr>
      <th>45444</th>
      <td>1905</td>
      <td>Fantasy</td>
      <td>[1, 4)</td>
      <td>[1904, 1914)</td>
      <td>6.1</td>
    </tr>
    <tr>
      <th>45445</th>
      <td>1906</td>
      <td>Fantasy,Comedy</td>
      <td>[1, 4)</td>
      <td>[1904, 1914)</td>
      <td>4.5</td>
    </tr>
    <tr>
      <th>45446</th>
      <td>1909</td>
      <td>Fantasy,Comedy</td>
      <td>[1, 4)</td>
      <td>[1904, 1914)</td>
      <td>6.7</td>
    </tr>
    <tr>
      <th>45449</th>
      <td>2005</td>
      <td>Animation,Family</td>
      <td>[7, 10)</td>
      <td>[2004, 2014)</td>
      <td>5.4</td>
    </tr>
    <tr>
      <th>45450</th>
      <td>1900</td>
      <td>Fantasy,Action,Thriller</td>
      <td>[1, 4)</td>
      <td>[1894, 1904)</td>
      <td>6.5</td>
    </tr>
    <tr>
      <th>45451</th>
      <td>1900</td>
      <td>Comedy,Fantasy</td>
      <td>[1, 4)</td>
      <td>[1894, 1904)</td>
      <td>6.5</td>
    </tr>
    <tr>
      <th>45452</th>
      <td>1981</td>
      <td>Documentary</td>
      <td>[1, 4)</td>
      <td>[1974, 1984)</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>45453</th>
      <td>2017</td>
      <td>Crime,Drama,Thriller</td>
      <td>[7, 10)</td>
      <td>[2014, 2024)</td>
      <td>6.6</td>
    </tr>
    <tr>
      <th>45454</th>
      <td>2015</td>
      <td>Comedy,Drama</td>
      <td>[1, 4)</td>
      <td>[2014, 2024)</td>
      <td>4.0</td>
    </tr>
    <tr>
      <th>45456</th>
      <td>1946</td>
      <td>Horror,Mystery,Thriller</td>
      <td>[1, 4)</td>
      <td>[1944, 1954)</td>
      <td>6.3</td>
    </tr>
    <tr>
      <th>45457</th>
      <td>2000</td>
      <td>Mystery,Horror</td>
      <td>[10, 13)</td>
      <td>[1994, 2004)</td>
      <td>7.0</td>
    </tr>
    <tr>
      <th>45458</th>
      <td>2000</td>
      <td>Horror</td>
      <td>[10, 13)</td>
      <td>[1994, 2004)</td>
      <td>7.0</td>
    </tr>
    <tr>
      <th>45459</th>
      <td>1995</td>
      <td>Science Fiction</td>
      <td>[1, 4)</td>
      <td>[1994, 2004)</td>
      <td>3.5</td>
    </tr>
    <tr>
      <th>45460</th>
      <td>1991</td>
      <td>Drama,Action,Romance</td>
      <td>[4, 7)</td>
      <td>[1984, 1994)</td>
      <td>5.7</td>
    </tr>
    <tr>
      <th>45462</th>
      <td>2011</td>
      <td>Drama</td>
      <td>[10, 13)</td>
      <td>[2004, 2014)</td>
      <td>9.0</td>
    </tr>
    <tr>
      <th>45463</th>
      <td>2003</td>
      <td>Action,Drama,Thriller</td>
      <td>[7, 10)</td>
      <td>[1994, 2004)</td>
      <td>3.8</td>
    </tr>
  </tbody>
</table>
<p>42992 rows × 5 columns</p>
</div>

In [19]:
def convert_cat(x):
    if 0<= x and x < 4 :
        return 3
    if 4<= x and x < 6 :
        return 5
    if 6<= x and x<8 :
        return 7
    if 8<= x and x <= 10:
        return 10
temp["vote_average"]=temp["vote_average"].apply(convert_cat)

NameError: name 'temp' is not defined

In [109]:
from mpl_toolkits.mplot3d import Axes3D
fig = plt.figure()
ax = fig.add_subplot(111, projection='3d')
for c, m, val in [('r', 'o', 3),('g', '<', 3),('b', '^', 7),('y', '*', 10)]:
    # xs = temp[temp["vote_average"]==val]["month_range"].cat.codes
    xs = temp[temp["vote_average"]==val]["month"]
    ys = temp[temp["vote_average"]==val]["year_range"].cat.codes
    zs = temp[temp["vote_average"]==val]["vote_average"].apply(int)
    ax.scatter(xs, ys, zs, c=c, marker=m)

ax.set_xlabel('months')
ax.set_ylabel('year')
ax.set_zlabel('vote average')


plt.show()

In [39]:
 xs = temp[temp["vote_average"]==7]["month_range"].cat.codes
 # temp.columns
 xs

25       3
68       1
71       3
106      3
113      0
119      3
127      0
140      3
158      1
175      1
257      3
275      1
277      3
291      1
298      1
305      3
315      3
342      2
343      3
407      2
491      2
495      3
574      0
585      1
590      0
623      0
660      1
712      0
718      0
737      3
        ..
44609    1
44657    2
44686    2
44710    2
44794    1
44800    0
44802    1
44805    3
44951    0
44974    3
44987    0
45020    0
45049    0
45077    1
45092    0
45108    3
45127    2
45129    1
45142    1
45168    2
45244    1
45254    3
45272    0
45309    0
45324    3
45349    3
45391    0
45394    2
45457    3
45458    3
Length: 1721, dtype: int8

In [97]:
temp.groupby(by=["vote_average"]).count()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>year</th>
      <th>genres</th>
      <th>month_range</th>
      <th>year_range</th>
    </tr>
    <tr>
      <th>vote_average</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>3</th>
      <td>4474</td>
      <td>4474</td>
      <td>4474</td>
      <td>4474</td>
    </tr>
    <tr>
      <th>7</th>
      <td>29482</td>
      <td>29482</td>
      <td>29482</td>
      <td>29482</td>
    </tr>
    <tr>
      <th>10</th>
      <td>9036</td>
      <td>9036</td>
      <td>9036</td>
      <td>9036</td>
    </tr>
  </tbody>
</table>
</div>

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>TCS #</th>
      <th>Main</th>
      <th>Midblock Route</th>
      <th>Side1Route</th>
      <th>Side2Route</th>
      <th>ActivationDate</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>CountDate</th>
      <th>PeakHrVehicleVolume</th>
      <th>PeakHrPedestrianVolume</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2</td>
      <td>JARVIS ST</td>
      <td>none</td>
      <td>FRONT ST E</td>
      <td>none</td>
      <td>11/15/1948</td>
      <td>43.649418</td>
      <td>-79.371446</td>
      <td>06-21-2017</td>
      <td>15662</td>
      <td>13535</td>
    </tr>
    <tr>
      <th>1</th>
      <td>3</td>
      <td>KING ST E</td>
      <td>none</td>
      <td>JARVIS ST</td>
      <td>none</td>
      <td>08/23/1950</td>
      <td>43.650461</td>
      <td>-79.371924</td>
      <td>09-17-2016</td>
      <td>12960</td>
      <td>7333</td>
    </tr>
    <tr>
      <th>2</th>
      <td>4</td>
      <td>JARVIS ST</td>
      <td>none</td>
      <td>ADELAIDE ST E</td>
      <td>none</td>
      <td>09/12/1958</td>
      <td>43.651534</td>
      <td>-79.372360</td>
      <td>11-08-2016</td>
      <td>17770</td>
      <td>7083</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>JARVIS ST</td>
      <td>none</td>
      <td>RICHMOND ST E</td>
      <td>none</td>
      <td>04/21/1962</td>
      <td>43.652718</td>
      <td>-79.372824</td>
      <td>12-08-2015</td>
      <td>19678</td>
      <td>4369</td>
    </tr>
    <tr>
      <th>4</th>
      <td>6</td>
      <td>JARVIS ST</td>
      <td>none</td>
      <td>QUEEN ST E</td>
      <td>none</td>
      <td>08/24/1928</td>
      <td>43.653704</td>
      <td>-79.373238</td>
      <td>09-17-2016</td>
      <td>14487</td>
      <td>3368</td>
    </tr>
    <tr>
      <th>5</th>
      <td>7</td>
      <td>JARVIS ST</td>
      <td>none</td>
      <td>SHUTER ST</td>
      <td>none</td>
      <td>11/18/1948</td>
      <td>43.655357</td>
      <td>-79.373862</td>
      <td>11-08-2016</td>
      <td>15846</td>
      <td>3747</td>
    </tr>
    <tr>
      <th>6</th>
      <td>8</td>
      <td>JARVIS ST</td>
      <td>none</td>
      <td>DUNDAS ST E</td>
      <td>none</td>
      <td>06/21/1928</td>
      <td>43.657052</td>
      <td>-79.374531</td>
      <td>06-27-2017</td>
      <td>17835</td>
      <td>5858</td>
    </tr>
    <tr>
      <th>7</th>
      <td>9</td>
      <td>JARVIS ST</td>
      <td>none</td>
      <td>GERRARD ST E</td>
      <td>none</td>
      <td>07/14/1941</td>
      <td>43.660432</td>
      <td>-79.375854</td>
      <td>11-01-2016</td>
      <td>18196</td>
      <td>6493</td>
    </tr>
    <tr>
      <th>8</th>
      <td>10</td>
      <td>JARVIS ST</td>
      <td>none</td>
      <td>CARLTON ST</td>
      <td>none</td>
      <td>06/28/1928</td>
      <td>43.662420</td>
      <td>-79.376708</td>
      <td>01-21-2017</td>
      <td>14222</td>
      <td>6165</td>
    </tr>
    <tr>
      <th>9</th>
      <td>11</td>
      <td>JARVIS ST</td>
      <td>none</td>
      <td>WELLESLEY ST E</td>
      <td>none</td>
      <td>09/28/1948</td>
      <td>43.666289</td>
      <td>-79.378325</td>
      <td>11-01-2016</td>
      <td>18163</td>
      <td>5213</td>
    </tr>
    <tr>
      <th>10</th>
      <td>12</td>
      <td>JARVIS ST</td>
      <td>none</td>
      <td>ISABELLA ST</td>
      <td>none</td>
      <td>09/13/1960</td>
      <td>43.668869</td>
      <td>-79.379416</td>
      <td>11-01-2016</td>
      <td>15197</td>
      <td>2713</td>
    </tr>
    <tr>
      <th>11</th>
      <td>13</td>
      <td>MOUNT PLEASANT RD</td>
      <td>none</td>
      <td>CHARLES ST E</td>
      <td>JARVIS ST</td>
      <td>05/23/1950</td>
      <td>43.669989</td>
      <td>-79.379923</td>
      <td>11-01-2016</td>
      <td>16280</td>
      <td>2976</td>
    </tr>
    <tr>
      <th>12</th>
      <td>14</td>
      <td>BLOOR ST E</td>
      <td>none</td>
      <td>TED ROGERS WAY</td>
      <td>none</td>
      <td>03/28/1951</td>
      <td>43.671577</td>
      <td>-79.380520</td>
      <td>01-11-2018</td>
      <td>15844</td>
      <td>9810</td>
    </tr>
    <tr>
      <th>13</th>
      <td>15</td>
      <td>CHURCH ST</td>
      <td>none</td>
      <td>FRONT ST E</td>
      <td>WELLINGTON ST E</td>
      <td>04/24/1950</td>
      <td>43.648513</td>
      <td>-79.373834</td>
      <td>04-20-2015</td>
      <td>10467</td>
      <td>7381</td>
    </tr>
    <tr>
      <th>14</th>
      <td>16</td>
      <td>KING ST E</td>
      <td>none</td>
      <td>CHURCH ST</td>
      <td>none</td>
      <td>01/10/1928</td>
      <td>43.649916</td>
      <td>-79.374409</td>
      <td>11-08-2016</td>
      <td>12017</td>
      <td>20866</td>
    </tr>
    <tr>
      <th>15</th>
      <td>17</td>
      <td>CHURCH ST</td>
      <td>none</td>
      <td>ADELAIDE ST E</td>
      <td>none</td>
      <td>11/22/1948</td>
      <td>43.651173</td>
      <td>-79.374925</td>
      <td>11-08-2016</td>
      <td>13816</td>
      <td>9692</td>
    </tr>
    <tr>
      <th>16</th>
      <td>18</td>
      <td>CHURCH ST</td>
      <td>none</td>
      <td>RICHMOND ST E</td>
      <td>none</td>
      <td>11/22/1948</td>
      <td>43.652441</td>
      <td>-79.375448</td>
      <td>11-08-2016</td>
      <td>10374</td>
      <td>7179</td>
    </tr>
    <tr>
      <th>17</th>
      <td>19</td>
      <td>QUEEN ST E</td>
      <td>none</td>
      <td>CHURCH ST</td>
      <td>none</td>
      <td>08/24/1983</td>
      <td>43.653170</td>
      <td>-79.375754</td>
      <td>11-08-2016</td>
      <td>13867</td>
      <td>11799</td>
    </tr>
    <tr>
      <th>18</th>
      <td>20</td>
      <td>CHURCH ST</td>
      <td>none</td>
      <td>SHUTER ST</td>
      <td>none</td>
      <td>11/18/1948</td>
      <td>43.654817</td>
      <td>-79.376441</td>
      <td>11-08-2016</td>
      <td>11028</td>
      <td>6952</td>
    </tr>
    <tr>
      <th>19</th>
      <td>21</td>
      <td>DUNDAS ST E</td>
      <td>none</td>
      <td>CHURCH ST</td>
      <td>none</td>
      <td>12/17/1952</td>
      <td>43.656499</td>
      <td>-79.377127</td>
      <td>04-13-2015</td>
      <td>13764</td>
      <td>10302</td>
    </tr>
    <tr>
      <th>20</th>
      <td>22</td>
      <td>CHURCH ST</td>
      <td>none</td>
      <td>GERRARD ST E</td>
      <td>none</td>
      <td>07/18/1941</td>
      <td>43.659858</td>
      <td>-79.378522</td>
      <td>11-08-2016</td>
      <td>13437</td>
      <td>15840</td>
    </tr>
    <tr>
      <th>21</th>
      <td>23</td>
      <td>CHURCH ST</td>
      <td>none</td>
      <td>CARLTON ST</td>
      <td>none</td>
      <td>02/17/1932</td>
      <td>43.661871</td>
      <td>-79.379335</td>
      <td>01-28-2017</td>
      <td>11648</td>
      <td>11072</td>
    </tr>
    <tr>
      <th>22</th>
      <td>24</td>
      <td>CHURCH ST</td>
      <td>none</td>
      <td>WELLESLEY ST E</td>
      <td>none</td>
      <td>07/18/1941</td>
      <td>43.665703</td>
      <td>-79.380928</td>
      <td>01-18-2017</td>
      <td>12231</td>
      <td>12520</td>
    </tr>
    <tr>
      <th>23</th>
      <td>25</td>
      <td>BLOOR ST E</td>
      <td>none</td>
      <td>CHURCH ST</td>
      <td>none</td>
      <td>02/19/1932</td>
      <td>43.671022</td>
      <td>-79.383123</td>
      <td>01-11-2018</td>
      <td>18339</td>
      <td>27313</td>
    </tr>
    <tr>
      <th>24</th>
      <td>26</td>
      <td>ADELAIDE ST E</td>
      <td>none</td>
      <td>VICTORIA ST</td>
      <td>none</td>
      <td>09/27/1928</td>
      <td>43.650654</td>
      <td>-79.377248</td>
      <td>06-13-2017</td>
      <td>9968</td>
      <td>18326</td>
    </tr>
    <tr>
      <th>25</th>
      <td>27</td>
      <td>VICTORIA ST</td>
      <td>none</td>
      <td>RICHMOND ST E</td>
      <td>none</td>
      <td>11/03/1927</td>
      <td>43.651952</td>
      <td>-79.377756</td>
      <td>06-15-2017</td>
      <td>11767</td>
      <td>10589</td>
    </tr>
    <tr>
      <th>26</th>
      <td>28</td>
      <td>QUEEN ST E</td>
      <td>none</td>
      <td>VICTORIA ST</td>
      <td>none</td>
      <td>11/03/1927</td>
      <td>43.652670</td>
      <td>-79.378066</td>
      <td>06-14-2017</td>
      <td>10087</td>
      <td>24100</td>
    </tr>
    <tr>
      <th>27</th>
      <td>29</td>
      <td>YONGE ST</td>
      <td>none</td>
      <td>FRONT ST</td>
      <td>none</td>
      <td>08/24/1928</td>
      <td>43.646846</td>
      <td>-79.376931</td>
      <td>09-17-2016</td>
      <td>10996</td>
      <td>10950</td>
    </tr>
    <tr>
      <th>28</th>
      <td>30</td>
      <td>YONGE ST</td>
      <td>none</td>
      <td>WELLINGTON ST</td>
      <td>none</td>
      <td>01/06/1964</td>
      <td>43.647848</td>
      <td>-79.377351</td>
      <td>05-06-2014</td>
      <td>13620</td>
      <td>26656</td>
    </tr>
    <tr>
      <th>29</th>
      <td>31</td>
      <td>YONGE ST</td>
      <td>none</td>
      <td>KING ST</td>
      <td>none</td>
      <td>11/03/1927</td>
      <td>43.649162</td>
      <td>-79.377904</td>
      <td>09-17-2016</td>
      <td>10911</td>
      <td>14579</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>2250</th>
      <td>2348</td>
      <td>LUMSDEN AVE</td>
      <td>none</td>
      <td>WESTLAKE AVE</td>
      <td>none</td>
      <td>07/31/2013</td>
      <td>43.694396</td>
      <td>-79.308279</td>
      <td>10-11-2011</td>
      <td>5471</td>
      <td>498</td>
    </tr>
    <tr>
      <th>2251</th>
      <td>2349</td>
      <td>WELLESLEY ST E</td>
      <td>none</td>
      <td>HOMEWOOD AVE</td>
      <td>none</td>
      <td>08/08/2013</td>
      <td>43.666490</td>
      <td>-79.375829</td>
      <td>12-16-2014</td>
      <td>6199</td>
      <td>2798</td>
    </tr>
    <tr>
      <th>2252</th>
      <td>2351</td>
      <td>QUEENS QUAY E</td>
      <td>none</td>
      <td>LOWER SHERBOURNE ST</td>
      <td>DOCKSIDE DR</td>
      <td>07/30/2013</td>
      <td>43.645156</td>
      <td>-79.365500</td>
      <td>01-24-2018</td>
      <td>6142</td>
      <td>717</td>
    </tr>
    <tr>
      <th>2253</th>
      <td>2355</td>
      <td>RANEE AVE</td>
      <td>none</td>
      <td>VARNA DR</td>
      <td>none</td>
      <td>01-09-2014</td>
      <td>43.723940</td>
      <td>-79.447804</td>
      <td>08-17-2016</td>
      <td>5496</td>
      <td>404</td>
    </tr>
    <tr>
      <th>2254</th>
      <td>2356</td>
      <td>RANEE AVE</td>
      <td>none</td>
      <td>FLEMINGTON RD</td>
      <td>none</td>
      <td>01-09-2014</td>
      <td>43.723274</td>
      <td>-79.450824</td>
      <td>08-22-2016</td>
      <td>4737</td>
      <td>265</td>
    </tr>
    <tr>
      <th>2255</th>
      <td>2363</td>
      <td>BATHURST ST</td>
      <td>none</td>
      <td>NIAGARA ST</td>
      <td>none</td>
      <td>01-29-2014</td>
      <td>43.641914</td>
      <td>-79.404067</td>
      <td>03-16-2016</td>
      <td>13974</td>
      <td>2290</td>
    </tr>
    <tr>
      <th>2256</th>
      <td>2364</td>
      <td>LAWRENCE AVE W</td>
      <td>none</td>
      <td>CORONA ST</td>
      <td>PRIVATE ACCESS</td>
      <td>11/19/2013</td>
      <td>43.714339</td>
      <td>-79.452380</td>
      <td>06-13-2013</td>
      <td>12634</td>
      <td>180</td>
    </tr>
    <tr>
      <th>2257</th>
      <td>2366</td>
      <td>DUNDAS ST W</td>
      <td>none</td>
      <td>STERLING RD</td>
      <td>PRIVATE ACCESS</td>
      <td>11/05/2013</td>
      <td>43.650654</td>
      <td>-79.443039</td>
      <td>09-09-2014</td>
      <td>13910</td>
      <td>955</td>
    </tr>
    <tr>
      <th>2258</th>
      <td>2371</td>
      <td>REXDALE BLVD</td>
      <td>none</td>
      <td>TIDEMORE AVE</td>
      <td>none</td>
      <td>02/04/2015</td>
      <td>43.714761</td>
      <td>-79.585239</td>
      <td>04-21-2016</td>
      <td>17241</td>
      <td>89</td>
    </tr>
    <tr>
      <th>2259</th>
      <td>2372</td>
      <td>WILSON AVE</td>
      <td>none</td>
      <td>WILLIAM CRAGG DR</td>
      <td>none</td>
      <td>04/29/2015</td>
      <td>43.722556</td>
      <td>-79.500476</td>
      <td>04-07-2016</td>
      <td>14968</td>
      <td>184</td>
    </tr>
    <tr>
      <th>2260</th>
      <td>2374</td>
      <td>BAY ST</td>
      <td>none</td>
      <td>CUMBERLAND ST</td>
      <td>none</td>
      <td>03/20/2014</td>
      <td>43.670549</td>
      <td>-79.389803</td>
      <td>10-18-2016</td>
      <td>11291</td>
      <td>13132</td>
    </tr>
    <tr>
      <th>2261</th>
      <td>2377</td>
      <td>YONGE ST</td>
      <td>none</td>
      <td>YORKVILLE AVE</td>
      <td>none</td>
      <td>04-20-2016</td>
      <td>43.671923</td>
      <td>-73.389642</td>
      <td>01-18-2017</td>
      <td>7803</td>
      <td>5014</td>
    </tr>
    <tr>
      <th>2262</th>
      <td>2379</td>
      <td>MARTIN GROVE RD</td>
      <td>43m SOUTH OF</td>
      <td>RAMPART RD</td>
      <td>none</td>
      <td>08/28/2015</td>
      <td>43.733636</td>
      <td>-79.590410</td>
      <td>02-29-2016</td>
      <td>9306</td>
      <td>547</td>
    </tr>
    <tr>
      <th>2263</th>
      <td>2384</td>
      <td>FINCH AVE W</td>
      <td>300m WEST OF</td>
      <td>TORRESDALE AVE</td>
      <td>none</td>
      <td>06-12-2015</td>
      <td>43.771587</td>
      <td>-79.454430</td>
      <td>11-29-2016</td>
      <td>14814</td>
      <td>298</td>
    </tr>
    <tr>
      <th>2264</th>
      <td>2385</td>
      <td>SCARLET RD</td>
      <td>none</td>
      <td>HILL GARDEN RD</td>
      <td>none</td>
      <td>10-30-2015</td>
      <td>43.696138</td>
      <td>-79.520892</td>
      <td>11-29-2016</td>
      <td>8437</td>
      <td>39</td>
    </tr>
    <tr>
      <th>2265</th>
      <td>2391</td>
      <td>KEELE ST</td>
      <td>none</td>
      <td>GRACEFIELD AVE</td>
      <td>none</td>
      <td>10/01/2015</td>
      <td>43.712225</td>
      <td>-79.478857</td>
      <td>04-07-2016</td>
      <td>18937</td>
      <td>172</td>
    </tr>
    <tr>
      <th>2266</th>
      <td>2396</td>
      <td>RENFORTH DR</td>
      <td>none</td>
      <td>HWY 401 WB OFF RAMP</td>
      <td>none</td>
      <td>03-31-2015</td>
      <td>43.669371</td>
      <td>-79.591652</td>
      <td>01-19-2017</td>
      <td>20163</td>
      <td>2</td>
    </tr>
    <tr>
      <th>2267</th>
      <td>2410</td>
      <td>QUEENS QUAY W</td>
      <td>none</td>
      <td>LOWER SPADINA AVE</td>
      <td>none</td>
      <td>08/22/1990</td>
      <td>43.637670</td>
      <td>-79.391910</td>
      <td>06-07-2012</td>
      <td>8423</td>
      <td>2887</td>
    </tr>
    <tr>
      <th>2268</th>
      <td>2411</td>
      <td>QUEENS QUAY W</td>
      <td>95m EAST OF</td>
      <td>LOWER SPADINA AVE</td>
      <td>PRIVATE ACCESS</td>
      <td>08/23/1990</td>
      <td>43.637833</td>
      <td>-79.390967</td>
      <td>04-22-2008</td>
      <td>7022</td>
      <td>1604</td>
    </tr>
    <tr>
      <th>2269</th>
      <td>2412</td>
      <td>QUEENS QUAY W</td>
      <td>none</td>
      <td>REES ST</td>
      <td>ROBERTSON CRES</td>
      <td>06/18/1990</td>
      <td>43.638798</td>
      <td>-79.386772</td>
      <td>02-15-2012</td>
      <td>6665</td>
      <td>2434</td>
    </tr>
    <tr>
      <th>2270</th>
      <td>2413</td>
      <td>QUEENS QUAY W</td>
      <td>none</td>
      <td>LOWER SIMCOE ST</td>
      <td>none</td>
      <td>09/25/1990</td>
      <td>43.639449</td>
      <td>-79.382924</td>
      <td>04-23-2009</td>
      <td>7181</td>
      <td>2104</td>
    </tr>
    <tr>
      <th>2271</th>
      <td>2414</td>
      <td>QUEENS QUAY W</td>
      <td>none</td>
      <td>YORK ST</td>
      <td>HARBOUR SQ</td>
      <td>08/08/1961</td>
      <td>43.639908</td>
      <td>-79.380399</td>
      <td>04-22-2009</td>
      <td>9230</td>
      <td>4629</td>
    </tr>
    <tr>
      <th>2272</th>
      <td>2416</td>
      <td>QUEENS QUAY W</td>
      <td>none</td>
      <td>BAY ST</td>
      <td>HARBOUR SQ</td>
      <td>05/11/1963</td>
      <td>43.641096</td>
      <td>-79.377041</td>
      <td>07-19-2017</td>
      <td>11043</td>
      <td>12772</td>
    </tr>
    <tr>
      <th>2273</th>
      <td>2417</td>
      <td>QUEENS QUAY W</td>
      <td>none</td>
      <td>DAN LECKIE WAY</td>
      <td>none</td>
      <td>07/14/2000</td>
      <td>43.636616</td>
      <td>-79.396929</td>
      <td>02-22-2012</td>
      <td>5781</td>
      <td>1156</td>
    </tr>
    <tr>
      <th>2274</th>
      <td>3002</td>
      <td>ST DENNIS DR</td>
      <td>none</td>
      <td>DEAUVILLE LANE</td>
      <td>none</td>
      <td>03/05/1976</td>
      <td>43.718306</td>
      <td>-79.331607</td>
      <td>07-22-2014</td>
      <td>5921</td>
      <td>982</td>
    </tr>
    <tr>
      <th>2275</th>
      <td>3005</td>
      <td>WINDERMERE AVE</td>
      <td>none</td>
      <td>MORNINGSIDE AVE</td>
      <td>none</td>
      <td>01/01/1967</td>
      <td>43.644885</td>
      <td>-79.478592</td>
      <td>12-10-2009</td>
      <td>6488</td>
      <td>634</td>
    </tr>
    <tr>
      <th>2276</th>
      <td>3006</td>
      <td>GATEWAY BLVD</td>
      <td>none</td>
      <td>GRENOBLE DR</td>
      <td>none</td>
      <td>05/28/1976</td>
      <td>43.711967</td>
      <td>-79.330476</td>
      <td>05-02-2017</td>
      <td>7447</td>
      <td>1316</td>
    </tr>
    <tr>
      <th>2277</th>
      <td>3009</td>
      <td>ALLIANCE AVE</td>
      <td>none</td>
      <td>ROCKCLIFFE BLVD</td>
      <td>none</td>
      <td>02/13/1969</td>
      <td>43.676947</td>
      <td>-79.489360</td>
      <td>02-15-2018</td>
      <td>8780</td>
      <td>498</td>
    </tr>
    <tr>
      <th>2278</th>
      <td>3011</td>
      <td>OLD FINCH AVE</td>
      <td>250m EAST OF</td>
      <td>SEWELLS RD</td>
      <td>none</td>
      <td>04/11/1974</td>
      <td>43.825259</td>
      <td>-79.196812</td>
      <td>11-27-2008</td>
      <td>1081</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2279</th>
      <td>3014</td>
      <td>ZOO RD</td>
      <td>none</td>
      <td>MEADOWVALE RD N ZOO W RAMP</td>
      <td>ZOO MEADOWVALE RD N RAMP</td>
      <td>02/08/1974</td>
      <td>43.818187</td>
      <td>-79.173580</td>
      <td>07-26-2009</td>
      <td>1982</td>
      <td>16</td>
    </tr>
  </tbody>
</table>
<p>2280 rows × 11 columns</p>
</div>